body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: contain;
    width: auto;
    height: inherit;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(4.jpg);
    text-decoration:double;
    cursor: pointer;
    text-shadow: #faf7f7;
  }
  
  header {
    background-size: contain;
    background :linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),#95ebee;
    width: auto;
    height: auto;
    border: 2px rgb(14, 13, 13);
    color: #070707;
    text-align: center;
    text-shadow:2px 2px 5px blue ;
    padding: 20px;
    font-size: x-small;
    cursor: pointer;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    cursor: pointer;
  }
  
  nav li {
    float: left;
    cursor: pointer;
  }
  
  nav li a {
    display: block;
    color: #43a5be;
    text-align: center;
    padding: 14px 16px;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
  }
  
  nav li a:hover {
    color: #faf7f7;
    cursor: pointer;
  }
  .name1{
    width: 500px;
    border:5px solid black;
    margin-top: 10px;
    margin-left: 2px;
    cursor: pointer;
    font-size: medium;
   }
   .name2{
    width: 500px;
    border: 5px solid black;
    margin-top: 10px;
    margin-left: 20px;
    font-size: medium;
    cursor: pointer;
    position: relative;
    left:10px;
   }
   .name{
    width: 500px;
    border:5px solid black ;
    margin-top:-29%;
    margin-right: 10px;
    cursor: pointer;
    float: right;
}
.container{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  cursor: pointer;
}
input[type=text],select,textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  cursor: pointer;
  resize: vertical;
}

.s{
  background-color:rgb(57, 133, 247);
  color:black;
  padding: 12px 20px;
  border:rgb(57, 133, 247);
  border-radius:4px;
  position:relative;
  cursor: pointer;
}
.s:hover{
  background-color: #43a5be;
  cursor: pointer;
}
h3{
  color: rgb(133, 12, 12);
  cursor: pointer;
}
footer{
  font-display: inherit;cursor: pointer;
}